@page "/admin/instances"
@page "/admin/trial"
@page "/admin/subscription"
@page "/admin/documentation"
@page "/admin/wabulk"
@page "/admin/api-token"
@page "/admin/webhook-settings"
@page "/admin/support"
@page "/Account/profile"

<div class="en-construccion-container">
    <div class="en-construccion-content">
        <img src="/img/under-construction.png" alt="En construcción" class="en-construccion-img" />
        <h1>¡Página en construcción!</h1>
        <p>Estamos trabajando para traerte esta sección muy pronto.<br />
        Vuelve más tarde o explora otras áreas de la plataforma.</p>
        <a href="/admin/dashboard" class="btn btn-primary">Volver al Dashboard</a>
    </div>
</div>



