@page "/admin/instances"
@page "/admin/trial"
@page "/admin/subscription"
@page "/admin/documentation"
@page "/admin/wabulk"
@page "/admin/api-token"
@page "/admin/webhook-settings"
@page "/admin/support"
@page "/Account/profile"

<div>

</div>
