@page "/404"
@using System.Diagnostics
@* @inject NavigationService Navigation *@
<PageTitle>Error 404</PageTitle>


<AuthorizeView>
    <Authorized>
        <div class="internal-layout">
            <MobileNavToggle />
            <div class="sidebar-overlay"></div>
            <div class="sidebar-container">
                <WaHubSidebar />
            </div>
            <div class="main-content">
                <div class="language-switcher-container">
                    <div class="language-switcher">
                    </div>
                </div>            
                <div class="content">
                    <div class="dashboard-container">
                        <div class="dashboard-header">
                            <div class="error-number">404</div>
                            <h1>Página no encontrada</h1>
                            <p>Lo sentimos, la página que buscas no existe o ha sido movida.</p>
                            <a href="/admin/dashboard">Volver al inicio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="dashboard-container">
            <div class="dashboard-header">
                <div class="error-number">404</div>
                <h1>Página no encontrada</h1>
                <p>Lo sentimos, la página que buscas no existe o ha sido movida.</p>
                <a href="/">Volver al inicio</a>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>



@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    [Parameter]
    public string Id { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
