@inject NavigationService Navigation

@* 
<ErrorBoundary @ref="_errorBoundary" Context="ex">

    <ChildContent> *@
        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    @if (!Navigation.IsExternalRoute(Navigation.GetCurrentPath()))
                    {
                        <div class="internal-layout">
                            <MobileNavToggle />
                            <div class="sidebar-overlay"></div>
                            <div class="sidebar-container">
                                <WaHubSidebar />
                            </div>
                            <div class="main-content">
                                <div class="language-switcher-container">
                                    <div class="language-switcher">
                                        <LanguageSelector />
                                    </div>
                                </div>
                                <div class="content">
                                    @ChildContent
                                </div>
                            </div>
                        </div>
                        
                        <NotificationContainer />
                    }
                    else
                    {
                        <HomeNavbar />
                        @ChildContent
                    }
                </Authorized>
                <NotAuthorized>
                    @if (!Navigation.IsExternalRoute(Navigation.GetCurrentPath()))
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <HomeNavbar />
                        <div>@ChildContent</div>
                    }
                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
@* 
    </ChildContent>

    <ErrorContent >
        <ErrorBoundaryComponent Error="ex" OnHandle="ResetErrorBoundary" />
    </ErrorContent>

</ErrorBoundary> *@


@* <div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div> *@

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private ErrorBoundary? _errorBoundary;

    private void ResetErrorBoundary() => _errorBoundary?.Recover();
}
