@page "/dashboard"
@* @using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization *@
@attribute [Authorize]
@rendermode InteractiveAuto


<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>
<h3>Paguna autenticada</h3>


<AuthorizeView>
    <Authorized>
        Hola @context.User.Identity?.Name
    </Authorized>
    <NotAuthorized>
        NOT Hola @context.User.Identity?.Name
    </NotAuthorized>   
</AuthorizeView>



