@page "/mybutton"

@inject ILocalizationService Localization

<button @onclick="OnClick">@Localization.GetString(ResourceKeys.MyButton_ClickMe)</button>

<span>@text</span>

@code {
    string text = string.Empty;

    void OnClick()
    {
        text = Localization.GetString(ResourceKeys.MyButton_HelloWorld);
        Console.WriteLine("El botón ha sido clickeado");
    }
}
